<div ng-controller="youtubeGalleryCtrl" class="module youtubegallery">
  <!-- Status message -->
  <koa-item ng-if="youtubegallery.message">{{youtubegallery.message}}</koa-item>
      <koa-grid cell-space="5px" columns="1" ng-if="!isBusy && visualization !== 'list'">
        <koa-card ng-repeat="item in youtubegallery.items">
          <div class="header">
            <iron-image ng-if=" visualization !== 'inline'" src="{{item.img}}" class="">
            </iron-image>
            <youtube ng-if=" visualization === 'inline'" code="item.videoId"></youtube>
          </div>
          <a href="#{{item.link}}">
            <div class="card-content">
              {{item.title}}
            </div>
            <div>
              <div class='info-left'>
                <koa-icon icon="icons:event"></koa-icon>
                <span>{{item.publish}}</span>
              </div>
              <div class='info-right'>
                <koa-icon icon="icons:account-box"></koa-icon>
                <span>{{item.channel}}</span>
              </div>
            </div>
          </a>
        </koa-card>
      </koa-grid>

      <a href="#{{item.link}}" ng-if="visualization === 'list'" ng-repeat="item in youtubegallery.items">
        <koa-item class="listContainer">
            <img class="featuredImage" src="{{item.img}}" item-icon />
            <koa-item-body two-line>
              <div>{{item.title | cleanHex}}</div>
              <div secondary>{{item.publish}} | {{item.channel}}</div>
            </koa-item-body>
        </koa-item>
      </a>

</div>
